* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    background: white;
    color: black;
}

img {
    max-width: 100%;

}


.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 30px;
}

ul {
list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    background: #1f2937;
    color: white;
    height: 60px;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navbar ul {
    display: flex;
    gap: 30px;
}

.navbar .logo {
    font-size: 30px;
    font-weight: bolder;
}

.navbar ul :hover {
    color: #3882f6;
}

.header {
    background-color: #1f2937;
    min-height: 600px;
    color: #e5e7eb;
    font-size: 18px;
    
}

.header h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
    
}

 .header img {
    max-width: 400px;
    
 }

 .header .container {
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

.boxes {
    background: white;
    min-height: 600px;
    font-size: 18px;
}

.boxes img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 20px;
}

.boxes .subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    padding: 60px;
}

.boxes .container {
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

.boxes .box {
    display: flex;
    max-width: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box p {
    text-align: center;
    margin-top: 15px;
}

.inspiration {
    display: flex;
    min-height: 400px;
    background: #e5e7eb;
    font-size: 18px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}


.inspiration .container {
    max-width: 1300px;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot h4 {
    font-size: 30px;
    font-weight: bold;
}

.foot p {
    font-size: 18px;
}

.foot .cage {
    border: solid;
    border-radius: 20px;
    height: 150px;
    width: 1500px;
    background-color: #3882f6;
    color: white;
    display: flex;

}

.foot .container {
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.foot button {
    height: 50px;
    width: 200px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    background: #3882f6;
    border-color: white;
    border-width: 3px;
    border-radius: 10px;
    
}

.footer {
    height: 60px;
    background: #1f2937;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-self: center;
}


@media (max-width: 768px) {
    .header .container {
        flex-direction: column;
        text-align: center;
        }

    .header img {
        margin-bottom: 20px;
        margin-top: 20px;
    }    

    .boxes .container {
        flex-direction: column;
        margin-bottom: 20px;
        gap: 20px;
    }
    
    .inspiration .container {
        text-align: center;
    }

    .foot .cage {
        max-width: 700px;
    }

    .foot h4 {
        font-size: 25px;
    }

    .foot p {
        font-size: 15px;
    }
}



















